apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      labels:
        app: proxy
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 443
          volumeMounts:
            - name: ssl-certs
              mountPath: /etc/nginx/ssl
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
      volumes:
        - name: ssl-certs
          secret:
            secretName: ssl-secret
        - name: nginx-config
          configMap:
            name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-service
spec:
  type: NodePort
  selector:
    app: proxy
  ports:
    - port: 443
      targetPort: 443
      nodePort: 30080

